:root {
    --primary-color: #FCFCF9;
    --secondary-color: #C6F0F8;
    --accent1-color: #D6B132;
    --accent2-color: #6A5C3E;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    color: #000000;
    max-width: 100%;
    margin: 0 auto;
}

header {
    margin: 1.5vh auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    align-items: center;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5vw;
}

.nav-link {
    background-color: var(--secondary-color);
    padding: 0.6vw;
    flex: 1;
    border-right: 0.15vw solid #000000;
    text-decoration: none;
    color: #000000;
    font-size: 1.5vw;
}

.end-link {
    border-right: none;
    border-top-right-radius: 0.6vw;
    border-bottom-right-radius: 0.6vw;
}

.first-link {
    border-top-left-radius: 0.6vw;
    border-bottom-left-radius: 0.6vw;
}


.logo {
    height: 10vw;
    justify-self: center;
}

.hero {
    position: relative;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
}

.about-us-h1 {
    position: absolute;
    top: 5vw;
    width: 100%;
    background-color: rgba(252 252 249 / 0.8);
    height: auto;
    padding: 1vw 0;
    text-align: center;
    border-radius: 0.6vw;
}

.mission-text {
    position: absolute;
    top: 20vw;
    left: 10%;
    background-color: rgba(252 252 249 / 0.8);
    height: 20vw;
    width: 80vw;
    color: #000000;
    box-sizing: border-box;
    padding: 1.2vw 1.5vw;
    text-align: left;
    border-radius: 0.6vw;
}


.mission-text img {
    float: right;
    width: 20vw;
    height: auto;
    border-radius: 0.6vw;
}



.heading {
    font-family: "Encode Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 3.5vw;
}

.history-text {
    background-color: var(--secondary-color);
    width: 100%;
    box-sizing: border-box;
    padding: 1vw 0.5vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vw;
    border-radius: 1vw;
}

.history-hero {
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1;
    order: 1;
}

.history-hero h2 {
    text-align: center;
    height: auto;
    margin: 0;
}

.history-hero img {
    height: 15vw;
    border-radius: 0.6vw;
}

.history-text p {
    margin: 0 auto;
    flex: 2 30vw;
    padding: 2vw;
}

.last {
    order: 2;
}

.experiences-board {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: 1fr 3fr;
    max-width: 100%;
    place-items: center;
    margin: 5vw auto;
    gap: 0.5vw;
}

.experiences-board h2 {
    grid-column: 1 / span 5;
    margin: 0;

}

.experiences-board img {
    height: 12vw;
    width: 15vw;
    border: 0.5vw solid var(--secondary-color);
    border-radius: 0.6vw;
    margin: 0;
}

.experiences-board figcaption {
    text-align: center;
}



footer {
    box-sizing: border-box;
    border-top: 0.15vw solid black;
    margin: 3vw 0 0;
    padding: 1vw 0;
    display: grid;
    grid-template-columns: minmax(0, 7fr) minmax(0, 1fr);
    place-items: center;

}

.social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


footer img {
    width: 2.5vw;
}


.image-link {
    text-decoration: none;
    margin: 0 0.5vw;
}

/* Contact Page Styling */

.contact-hero {
    padding: 2rem 0;
    text-align: center;
}

.contact-hero .heading {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 500;
    color: #333;
}

/* Contact form styling */

.contact-form {
    background-color: rgb(237, 240, 244);
    padding: 10vh;
}

.contact-form form {
    background-color: var(--primary-color);
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 3rem auto;
    max-width: 750px;
    gap: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    border-radius: 0.6vw;
}

.contact-form h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.contact-form .form-group {
    margin-bottom: 1.5rem;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    color: #666;
    text-align: left;
    font-weight: 600;
}

.contact-form input,
.contact-form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    grid-column: 2 / span 2;
    align-self: start;
}

.contact-form button:hover {
    background-color: #555;
}

.name-field {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.email-field {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

.message-field {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
}

.newsletter-field {
    grid-column: 1 / span 4;
    grid-row: 5 / span 1;
    box-sizing: border-box;
    padding-top: 2rem;
}

.newsletter-field input {
    width: 1.5vw;
    height: auto;
    margin-right: 1vw;
    display: inline;
    vertical-align: middle;
}

.newsletter-field label {
    display: inline;
    vertical-align: middle;
}

.purpose {
    border: none;
    width: 28%;
    display: block;
    margin: 15px auto;
    grid-column: 1 / span 4;
}

.purpose legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 110%;
}

.radio-field {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    justify-items: start;
}

.column-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.column-2 {
    grid-column: 2 / span 1;
}


/* Contact information section styling */

.contact-information {
    margin: 5em auto 8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 20em;
}

.contact-information h2 {
    grid-column: 1 / span 1;
    font-size: 2em;
    width: 50%;
    align-self: end;
    text-align: left;
    margin-left: 1em;
}

.map-container {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.map-container iframe {
    display: block;
    height: 100%;
    width: 100%;
    justify-self: center;
}


address {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

.contact-information figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1.5rem;
}

.contact-information img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 1em;
}

.contact-information figcaption {
    font-size: 1.5rem;
    color: #333;
    vertical-align: middle;
}

/* Map styling */
.map-container iframe {
    width: 100%;
    max-width: 600px;
    height: 350px;
    border: none;
    border-radius: 5px;
}

/* Upper Main */

.contact-hero article {
    background-color: var(--secondary-color);
    height: 40vh;
    align-content: center;
}

.contact-hero h1 {
    font-size: 3em;
}

.contact-hero article h1,
.contact-hero article p {
    margin: 2rem auto;
    width: 30%;
}

.our-team {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: -2em;
    gap: 3em 0;
    padding-bottom: 5em;
    border-bottom: 4px solid var(--secondary-color);
}

.our-team h2 {
    grid-column: 1 / span 3;
    justify-self: center;
    margin: 0;
    box-sizing: border-box;
    padding: 0.3em 0;
    width: 15em;
    border: 0.11vw solid #333;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: 1.7em;
}

.our-team img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    z-index: 0;
    position: relative;
}

.our-team figcaption {
    text-align: center;
    font-size: 1.3em;
    border: 0.105vw solid #333;
    width: 55%;
    box-sizing: border-box;
    padding: 1em 0;
    border-radius: 8px;
    justify-self: center;
    margin-top: -2em;
    background-color: rgb(231, 251, 255);
    z-index: 1;
    position: relative;
}

.wireframe-link {
    font-weight: 600;
    font-size: 1.2vw;
    margin-left: 5vw;
    color: #333;
}


/* Home page styling */

.button-a {
    font-family: "Raleway", sans-serif;
    font-size: 80%;
    border: 0.15vw solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    text-decoration: none;
    color: #000;
    width: 25%;
    height: 1vw;
}

.home-hero-image {
    width: 100%;
    height: auto;
}

.welcome-section {
    position: relative;
    text-align: center;
}

.welcome-section h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 70%;
    height: 15vw;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 252, 249, 0.8);
    padding: 2vw 5%;
    border-radius: 1vw;
}

.welcome-section .call-to-action {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    padding: 2vw 5%;
    border: none;
    border-radius: 1vw;
    font-size: 1.2vw;
    width: 15vw;
}

.presentation-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2vw;
    margin: 5vw auto;
    width: 90%;
}

.learn-about-cell,
.services-cell {
    position: relative;
    overflow: hidden;
}

.learn-about-cell img,
.services-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.learn-about-cell h2,
.learn-about-cell p,
.learn-about-cell .learn-more-button,
.services-cell h2,
.services-cell p,
.services-cell .learn-more-button {
    position: relative;
    z-index: 2;
    background-color: rgba(252, 252, 249, 0.8);
    padding: 4%;
    border-radius: 1vw;
    margin: 5%;
    font-size: 100%;
}

.news-cell {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    background-color: rgba(237, 240, 244, 0.9);
    padding: 5%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-cell h2 {
    font-size: 150%;
    margin-bottom: 5%;
}

.news-cell p {
    font-size: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.news-cell .subscribe-form {
    background-color: var(--primary-color);
    padding: 5%;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}

.news-cell .subscribe-form .email-input,
.news-cell .subscribe-form .name-input {
    display: flex;
    flex-direction: column;
}

.news-cell .subscribe-form label {
    font-size: 100%;
    margin-bottom: 5%;
}

.news-cell .subscribe-form input {
    padding: 5%;
    font-size: 100%;
    border: 0.2vw solid #ccc;
    border-radius: 0.8vw;
}

.news-cell .subscribe-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5%;
    font-size: 100%;
    border-radius: 0.8vw;
    cursor: pointer;
    text-align: center;
}

.news-cell .subscribe-form button:hover {
    background-color: #555;
}