:root {
    --section-margin: 2rem;
    --upper-color: darkblue;
    --image-border: 1px solid black;
}

nav {
    background-color: var(--upper-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

h1 {
    color: var(--upper-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--image-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 25rem;
    margin: var(--margin-setting);
    border: 3px dotted rgb(195 225 255);
    padding: 1rem;
    background-color: rgb(85 85 85);
    color: rgb(195 225 255);
}

aside img {
    width: 200px;
    height: auto;
    border: var(--image-border);
}

footer {
    margin-top: var(--margin-setting);
    border-top: 3px dotted rgb(30 30 30);
    text-align: center;
}